In [ ]:
import ...

In [ ]:
data =  pd.read_csv(r'', sep = ';')

In [ ]:
data

In [ ]:
data['client_id'].unique()

In [ ]:
len(data['client_id'].unique())

In [ ]:
data['date'] = data['date'].map(lambda x: dt.datetime.strptime (x, '%Y-%m-%d'))

In [ ]:
lifetime_1 = data.groupby('client_id')['date'].max()
lifetime_1= pd.DataFrame(lifetime_1).reset_index()
lifetime_2 = data.groupby('client_id')['date'].min()
lifetime_2= pd.DataFrame(lifetime_2).reset_index()
lifetime = lifetime_1.merge(lifetime_2, left_on='client_id', right_on='client_id')
lifetime['lifetime'] = lifetime ['date_x'] - lifetime ['date_y']
lifetime = lifetime.sort_values(by = 'lifetime', ascending = False)
lifetime  = lifetime.rename(columns={"date_x": "last_pur_date", "date_y" : "first_pur_date"})
lifetime

In [ ]:
amount_of_purch = data.groupby('client_id')['date'].nunique()
amount_of_purch= pd.DataFrame(amount_of_purch).reset_index()
amount_of_purch  = amount_of_purch.rename(columns={"date": "amount_purch"})
amount_of_purch

In [ ]:
first_table = lifetime.merge(amount_of_purch, on ='client_id')

In [ ]:
first_table

In [ ]:
first_table

In [ ]:
import pandas as pd

first_table['recency'] = (pd.to_datetime('2023-05-21') - first_table['last_pur_date']).dt.days

def frequency(first_table):
    frequency = []
    for i in range(len(first_table)):
        if first_table.iloc[i, 4] == 1:
            frequency.append(str(first_table.iloc[i, 5]/first_table.iloc[i, 4]).split(' ')[0])
        else:
            frequency.append(str(first_table.iloc[i, 3] / first_table.iloc[i, 4]).split(' ')[0])
    first_table['frequency'] = frequency


frequency(first_table)

In [ ]:
first_table

In [ ]:
first_table['amount_purch'].describe(percentiles = [0.015,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.985]).apply("{0:.5f}".format)

In [ ]:
first_table = first_table.query('amount_purch<24')
first_table

In [ ]:
first_table['frequency'] = first_table['frequency'].astype(float).round().astype('int64')

In [ ]:
def get_status_recency(recency):
    if recency >= 0 and recency <= 200:
        return '0-200'
    elif recency >= 201 and recency <= 400:
        return '201-400'
    elif recency >= 401 and recency <= 600:
        return '401-600'
    elif recency >= 601 and recency <= 870:
        return '601-780'
    else:
        return 'Unknown'

first_table['status_recency'] = first_table['recency'].apply(get_status_recency)

In [ ]:
first_table

In [ ]:
first_table['amount_purch'].mean()

In [ ]:
def get_status_frequency(frequency):
    if frequency >= 0 and frequency <= 200:
        return '0-200'
    elif frequency >= 201 and frequency <= 400:
        return '201-400'
    elif frequency >= 401 and frequency <= 600:
        return '401-600'
    elif frequency >= 601 and frequency <= 870:
        return '601-780'
    else:
        return 'Unknown'

first_table['status_frequency'] = first_table['frequency'].apply(get_status_recency)

In [ ]:
first_table

In [ ]:
grouped_table = first_table.groupby(['client_id', 'status_recency', 'status_frequency']).agg({
    'amount_purch': 'max'
}).reset_index()

grouped_table.columns = ['client_id', 'status_recency', 'status_frequency', 'amount_purch']

In [ ]:
grouped_table

In [ ]:
data_gr = data.groupby(['client_id']).agg({
    'ns_with_disc': 'sum',
    'pcs':'sum'
}).reset_index()
data_gr

In [ ]:
grouped_table = grouped_table.merge(data_gr, on ='client_id', how = 'left')

In [ ]:
grouped_table

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data_g2 = data.groupby(['dep','prgr','prrole']).agg({
    'client_id': 'nunique',
    'date':'count',
    'ns_with_disc':'sum',
    'pcs':'sum'
}).reset_index()

data_g2.columns = ['department', 'product_group', 'price_roll', 'client_id_count', 'amount_purch','ns_with_disc','pcs']

data_g2

In [ ]:
party = pd.read_excel(r'')

In [ ]:
party

In [ ]:
data = data.merge(party, on = 'date', how = 'left')

In [ ]:
data

In [ ]:
data_gr_3 =  data.groupby(['Повод','dep','prgr','prcl','prrole']).agg({
    'client_id': 'nunique',
    'date':'count',
    'ns_with_disc':'sum',
    'pcs':'sum'
}).reset_index()

data_gr_3.columns = ['Праздник','department', 'product_group','product_class', 'price_roll', 'client_id_count', 'amount_purch','ns_with_disc','pcs']
data_gr_3

In [ ]:
data_gr_3.to_excel(r'')

In [ ]:
data_g2.to_excel(r'')

In [ ]:
first_table

In [ ]:
averages = {
    'lifetime': first_table['lifetime'].mean(),
    'amount_purch': first_table['amount_purch'].mean(),
    'recency': first_table['recency'].mean(),
    'frequency': first_table['frequency'].mean()
}

averages_table = pd.DataFrame.from_dict(averages, orient='index', columns=['Среднее значение'])

averages_table

In [ ]:
averages_table.to_excel(r'')